.mypy_cache/3.8/__main__.cpython-38.pyc
__pycache__/
*.py[cod]
*$py.class

C extensions
*.so
*.DS_Store
Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
db.sqlite3
db.sqlite3-journal

# Virtual environments
venv/
.venv/

# Python caches
__pycache__/
*.pyc
*.pyo

# YOLO training outputs (keep `output/` and `best.pt` if you want)
runs/

# Jupyter
.ipynb_checkpoints/